
<div class="col-md-12">
  <h2 class="text-center">Groups Joined</h2>
  <table class="table">

    <thead>
      <tr>
        <th>1 #</th>
        <th>2 Title</th>
        <th>3 Description</th>
        <th>4 Post Count</th>
        <th>5 Last Update</th>
      </tr>
    </thead>

    <ktbody>
      <% @groups.each do | group| %>
        <tr>
          <td>#</td>
          <td><%= group.title %></td>
          <td><%= group.description%></td>
          <td><%= group.posts.count %></td>
          <td><%= group.updated_at %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>
